/** {
  box-sizing: border-box;
}
*/
body {
  font-family: Calibri;
  margin:0px auto;
  padding:0px auto;
  background: #505050;
}
h1 {

}
h2 {
  position:relative;
  vertical-align: middle;
  line-height:100vh;
  color:#ffffff;
  margin:0px;
}
a {
  margin:0px auto;
  padding:0px auto;
}
span {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;
  background-image: url("../img/empty.gif");
}
.wrap {
  display:table;
  width:100vw;
  height:100vh;
  margin:0px auto;
  padding:0px;
  position:relative;
  font-size:18px;
  table-layout:fixed;
  text-align:center;
  border-collapse:collapse;
}
.title{
  color:#ffffff;
  position:absolute;
  z-index:4;
  top:8px;
  right:16px;
  pointer-events:none;
}
.column {
  display:table-cell;
  vertical-align:top;
  width:33%;
  transition:width 1s;
  opacity:0.5;
  transition: 1.5s ease;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  z-index:2;
}
.column:hover{
  width:50%;
  opacity:1;
}
.column1 {
  background-image:url("../img/pexels-andre-moura-2523959.jpg");
  border-right-style:solid;
}
.column2 {
  background-image:url("../img/pexels-anni-roenkae-2832382.jpg");
  border-right-style:solid;
}
.column3 {
  background-image:url("../img/pexels-bruno-thethe-1910236.jpg");
}

}
/*.wrap:after {
	content:"";
	position:absolute;
	z-index:1;
	top:0;
	bottom:0;
	left:33%;
	width:34%;
	background:#ff0000;
	-webkit-transform:skewX(-3deg);
	transform:skewX(-3deg);
}*/
