body {
  font-family: Calibri;
  margin:0px auto;
  padding:0px auto;
  background: #505050;
}

h1 {
  padding-top: 20vh;
}
/*APPS*/
.app-container{
  background-color: #333;
  overflow: hidden;
  margin-top:3vh;
  width:90%;
  margin-left:auto;
  margin-right:auto;
  border-radius: 0 15px 0 15px;
  border-style:solid;
  border-color:white;
}
.app-content{
    margin:0 3%;
    height:50vh;
}

.app-content h2{
  background-color:#ffffff;
  color:#000000;
  width:120%;
  /*top|left|bottom|right
  Silly negative margin to keep nice margins on rest of content*/
  margin:0 -10% 0 -10%;
  text-align: center;
}

.app-content p{
  color:#ffffff;
}
