body {
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  margin:0px auto;
  padding:0px auto;
  background-color: var(--dark-bg);
}
h1 {
  padding-top: 20vh;
  z-index:1;
  color: var(--light-text);
  text-align: center;
  font-weight: lighter;
}

h2{
  font-weight: lighter;
}

/*
.background-image {
  background-image: url("../img/mainbg.jpg");
  background-repeat: no-repeat;
  background-position: center left;
  background-size:cover;
  background-blend-mode: color-burn;
  background-color: #aaa;
  width:100%;
  height:100%;
  z-index:1;
  position:fixed;
  display:block;
  filter:blur(5px);
}*/

.content {
  z-index:2;
  margin:0;
  padding:0;
  left: 0;
  right: 0;
  position:relative;
}
/*APPS*/
.app-container{
  z-index:2;
  background-color: var(--light-bg);
  color:#000000;
  overflow-y: scroll;
  overflow-x: none;
  margin-top:3vh;
  width:90%;
  margin-left:auto;
  margin-right:auto;
  border-radius: 0 15px 0 15px;
  border-style:solid;
  border-color:#fff;
  /*max-height:5vh;*/
  transition:1s;
  height:5vh;

}

.app-body{
  margin:0 3%;

    transition:1s;
}
.app-content h2{
  margin:0 -10% 0 -10%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration:none;
  background-color: var(--dark-bg);
  color: var(--light-text);
  height:5vh;
  position:sticky;
  position: -webkit-sticky; /* Safari */
  top:0;

  /*top|left|bottom|right
  Silly negative margin to keep nice margins on rest of content*/
  margin:0 -10% 0 -10%;
}

.app-content h2:hover{
  background-color: var(--light-text);
  color: black;
}
.accordion-check {
  display:none;
}
.accordion-check:checked + .app-container {
  height:500px;
  border-color:var(--highlight);
}
